<div class="homePage">

  <hr class="theLine">

  <p> Changement de monnaie disponible au comptoir. </p>
  <p> Stationnement privé et 3 heures de stationnement de rue gratuit. </p>
  <p> (613) 236-1356 </p>
  <p> 553 Avenue Gladstone, Ottawa, Ontario </p>

  <img src="../../assets/images/front1.jpg" alt="Front of business, picture 1">
  <img src="../../assets/images/front2.jpg" alt="Front of business, picture 2">
  <img src="../../assets/images/inside1.jpg" alt="Inside of business, picture 1">
  <img src="../../assets/images/inside2.jpg" alt="Inside of business, picture 2">
  <img src="../../assets/images/inside3.jpg" alt="Inside of business, picture 3">
  <img src="../../assets/images/inside4.jpg" alt="Inside of business, picture 4">
</div>
