<div class="homePage">

  <h1> Horaire des fêtes </h1>

  <hr class="titleline_special">

  <div class="theRow">
    <div class="element"><span> Dimanche 24 Décembre, 2017 </span></div><!--
    --><div class="element"><span> 8h00 - 15h00 </span></div><!--
    --><div class="element"><span> Dernier Lavage: 13h30 </span></div>
  </div>

  <div class="theRow">
    <div class="element"><span> Lundi 25 Décembre, 2017 </span></div><!--
    --><div class="element"><span class="closed"> Fermé </span></div><!--
    --><div class="element"><span class="closed"> Joyeux Noël! </span></div>
  </div>

  <div class="theRow">
    <div class="element"><span> Mardi 26 Décembre, 2017 </span></div><!--
    --><div class="element"><span class="closed"> Fermé </span></div><!--
    --><div class="element"><span class="closed"> Joyeux Boxing Day! </span></div>
  </div>

  <div class="theRow">
    <div class="element"><span> Mercredi 27 Décembre, 2017 </span></div><!--
    --><div class="element"><span> 8h00 - 19h00 </span></div><!--
    --><div class="element"><span> Dernier Lavage: 17h30 </span></div>
  </div>

  <div class="theRow">
    <div class="element"><span> Jeudi 28 Décembre, 2017 </span></div><!--
    --><div class="element"><span> 8h00 - 19h00 </span></div><!--
    --><div class="element"><span> Dernier Lavage: 17h30 </span></div>
  </div>

  <div class="theRow">
    <div class="element"><span> Vendredi 29 Décembre, 2017 </span></div><!--
    --><div class="element"><span> 8h00 - 19h00 </span></div><!--
    --><div class="element"><span> Dernier Lavage: 17h30 </span></div>
  </div>

  <div class="theRow">
    <div class="element"><span> Samedi 30 Décembre, 2017 </span></div><!--
    --><div class="element"><span> 8h00 - 19h00 </span></div><!--
    --><div class="element"><span> Dernier Lavage: 17h30 </span></div>
  </div>

  <div class="theRow">
    <div class="element"><span> Dimanche 31 Décembre, 2017 </span></div><!--
    --><div class="element"><span> 8h00 - 19h00 </span></div><!--
    --><div class="element"><span> Dernier Lavage: 13h30 </span></div>
  </div>

  <div class="theRow">
    <div class="element"><span> Lundi 1 Janvier, 2018 </span></div><!--
    --><div class="element"><span class="closed"> Fermé </span></div><!--
    --><div class="element"><span class="closed"> Bonne année! </span></div>
  </div>

  <div class="imgContainer">
    <img src="assets/images/noelnouvelan2018.jpg" alt="Joyeux Noël et Bonne Année!" id="holidayimage">
  </div>

  <p> Changement de monnaie disponible au comptoir. </p>
  <p> Stationnement privé et 3 heures de stationnement de rue gratuite. </p>
  <p> (613) 236-1356 </p>
  <p> 553 Avenue Gladstone, Ottawa, Ontario </p>

  <img src="assets/images/front1.jpg" alt="Front of business, picture 1">
  <img src="assets/images/front2.jpg" alt="Front of business, picture 2">
  <img src="assets/images/inside1.jpg" alt="Inside of business, picture 1">
  <img src="assets/images/inside2.jpg" alt="Inside of business, picture 2">
  <img src="assets/images/inside3.jpg" alt="Inside of business, picture 3">
  <img src="assets/images/inside4.jpg" alt="Inside of business, picture 4">
</div>
