<div class="homePage">

  <h1> Avis de Fermeture </h1>

  <hr class="titleline_special">

  <p>
    Chers clients,<br>
    À compter du <em><strong>1er septembre 2024</strong></em>, nous cesserons<br>
    nos activités. Cela a été un plaisir de vous servir<br>
    au fil des ans, et nous sommes très reconnaissants<br>
    pour votre fidélité et votre soutien tout au long de notre parcours.<br>
    <br>
    Avec nos sincères remerciements,<br>
    Majestic Cleaners
  </p>

  <hr class="theLine">

  <p> Changement de monnaie disponible au comptoir. </p>
  <p> Stationnement privé et 3 heures de stationnement de rue gratuit. </p>
  <p> (613) 236-1356 </p>
  <p> 553 Avenue Gladstone, Ottawa, Ontario </p>

  <img src="../../assets/images/front1.jpg" alt="Front of business, picture 1">
  <img src="../../assets/images/front2.jpg" alt="Front of business, picture 2">
  <img src="../../assets/images/inside1.jpg" alt="Inside of business, picture 1">
  <img src="../../assets/images/inside2.jpg" alt="Inside of business, picture 2">
  <img src="../../assets/images/inside3.jpg" alt="Inside of business, picture 3">
  <img src="../../assets/images/inside4.jpg" alt="Inside of business, picture 4">
</div>
