<h1> Heures </h1>

<hr class="titleline">

<div class="hoursContainer">
    <p> Lundi:
        <span class="blue"> 08h00 - 17h00 </span><br>
        <span>(Dernier lavage: 15h30)</span>
    </p>
    <p> Mardi:
        <span class="blue"> 08h00 - 17h00 </span><br>
        <span>(Dernier lavage: 15h30)</span>
    </p>
    <p> Mercredi:
        <span class="blue"> 08h00 - 17h00 </span><br>
        <span>(Dernier lavage: 15h30)</span>
    </p>
    <p> Jeudi:
        <span class="blue"> 08h00 - 17h00 </span><br>
        <span>(Dernier lavage: 15h30)</span>
    </p>
    <p> Vendredi:
        <span class="blue"> 08h00 - 17h00 </span><br>
        <span>(Dernier lavage: 15h30)</span>
    </p>
    <p> Samedi:
        <span class="blue"> 08h00 - 17h00 </span><br>
        <span>(Dernier lavage: 15h30)</span>
    </p>
    <p> Dimanche:
        <span class="blue"> FERMÉ </span>
    </p>
</div>
