<h1> Heures d'ouverture </h1>

<hr class="titleline">

<div class="hoursContainer">
  <p> Lundi: <span class="blue"> 8h00 - 20h00 </span></p>
  <p> Mardi: <span class="blue"> 8h00 - 20h00 </span></p>
  <p> Mercredi: <span class="blue"> 8h00 - 20h00 </span></p>
  <p> Jeudi: <span class="blue"> 8h00 - 20h00 </span></p>
  <p> Vendredi: <span class="blue"> 8h00 - 20h00 </span></p>
  <p> Samedi: <span class="blue"> 8h00 - 20h00 </span></p>
  <p> Dimanche: <span class="blue"> 8h00 - 20h00 </span></p>
</div>

<h1> Dernier lavage & séchage: 18h30 </h1>
<h3> Peuvent changer durant les jours fériés </h3>