<h1> Coûts </h1>

<hr class="titleline">

<h3> Lessive </h3>
<p class="hst">TVH pas comprise</p>
<div class="drycleaningContainer">
  <span>
    Chemise (Lavé et sur cintre): <span class="money">$5.50</span><br>
  </span>
</div>

<hr class="priceshr">

<h3> Nettoyage à sec </h3>
<p class="hst">TVH pas comprise</p>
<div class="drycleaningContainer">
  <span>
    Pantalons : <span class="money">$11.75</span><br>
    Chemisier : <span class="money">$10.00</span><br>
    Costume 2 pièces : <span class="money">$27.50</span><br>
    Robe : <span class="money">À partir de $19.75</span><br>
    Couette : À partir de <span class="money">$45.00</span>
  </span>
</div>

<hr class="priceshr">

<h3> Modifications </h3>
<p class="hst">TVH pas comprise</p>
<span>
  Ourler: <span class="money">Minimum $9.00</span>
</span>

<hr class="priceshr">

<h3> Laverie libre-service </h3>
<p class="hst">Pas de TVH</p>
<div class="coinwashContainer">
  <span>
    <h3 class="coinwash_h3"> Machine à laver </h3>
    (Single load) 22 disponible : <span class="money">$3.50</span><br>
    (Double load) 4 disponible : <span class="money">$5.00</span><br>
    (Triple load) [30 lbs] 4 disponible : <span class="money">$7.00</span><br>

    <h3 class="coinwash_h3"> Sécheuse </h3>
    (Petite) 10 disponible : <span class="money">$2.25/30mins</span><br>
    (Petite) 6 disponible : <span class="money">$3.00/42mins</span><br>
    (Grande) [30 lbs] 6 disponible : <span class="money">$0.25/3mins</span>
  </span>
</div>

<hr class="priceshr">

<h1> Objets achetables </h1>
<p class="hst">TVH pas comprise</p>

<div class="itemsContainer">
  <div class="item">
    <p> Bounce : <span class="money">$0.25/feuille</span></p>
    <img src="assets/images/item_bounce.jpg" alt="Bounce box" id="bounce">
  </div>
  <div class="item">
    <p> Detergent (1 brassée) : <span class="money">$0.50/chacun</span></p>
    <img src="assets/images/item_detergent.jpg" alt="Bounce box" id="detergent">
  </div>
  <div class="item">
    <p> Tide Pods (1 brassée) : <span class="money">$1.00/chacun</span></p>
    <img src="assets/images/item_pods.jpg" alt="Bounce box" id="pods">
  </div>
  <br>
  <div class="item">
    <p> Ultra Tide (1 brassée) : <span class="money">$1.25/chacun</span></p>
    <img src="assets/images/item_ultra.jpg" alt="Bounce box" id="ultra">
  </div>
  <div class="item">
    <p> Tide Original (32 brassées) : <span class="money">$12.00/chacun</span></p>
    <img src="assets/images/item_original.jpg" alt="Bounce box" id="original">
  </div>
</div>