<h1> Rafraîchissements </h1>

<hr class="titleline">

<h3> Distributeur automatique (collations) </h3>
<span>
  <span class="money">1,00$ chaque</span><br>
  Chips <br>
  Barres de chocolat <br>
  Gomme à mâcher
</span>

<hr class="snackshr">

<h3> Distributeur automatique (boissons) </h3>
<span>
  <span class="money">1,00$ chaque</span><br>
  Coca-Cola <br>
  Coke Diète <br>
  Pepsi <br>
  Crush Orange <br>
  Canada Dry: Ginger Ale <br>
  Five Alive
</span>

<hr class="snackshr">

<h3> Rafraîchissements </h3>

<div class="snacksContainer">
  <span>
    Bouteille d'eau glacée : <span class="money">1,00$</span><br>
    Café : <span class="money">1,00$</span><br>
    Freezie : <span class="money">1,00$</span>
  </span>
</div>
