<div class="customNavbar">
  <div class="nav_item">
    <a ui-sref=".home" ui-sref-active="active"> Home </a>
  </div><!--
  --><div class="nav_item">
    <a ui-sref=".prices" ui-sref-active="active"> Prices </a>
  </div><!--
  --><div class="nav_item">
    <a ui-sref=".hours" ui-sref-active="active"> Hours </a>
  </div><!--
  --><div class="nav_item">
    <a ui-sref=".location" ui-sref-active="active"> Location </a>
  </div><!--
  --><div class="nav_item">
    <a ui-sref=".snacks" ui-sref-active="active"> Snacks </a>
  </div>
</div>

<ui-view></ui-view>

<hr class="theLine">

<div class="footer">
  <span>
    Information updated: August 26, 2021 <br>
    Copyright © 2021 |
    Website by <a href="https://rickydam.com/" target="_blank"> Ricky Dam </a>
  </span>
</div>
