<div class="customNavbar">
  <div class="nav_item" id="homeFR_item">
    <a ui-sref=".home" ui-sref-active="active"> Acceuil </a>
  </div><!--
  --><div class="nav_item" id="pricesFR_item">
    <a ui-sref=".prices" ui-sref-active="active"> Coûts </a>
  </div><!--
  --><div class="nav_item" id="hoursFR_item">
    <a ui-sref=".hours" ui-sref-active="active"> Heures </a>
  </div><!--
  --><div class="nav_item" id="locationFR_item">
    <a ui-sref=".location" ui-sref-active="active"> Addresse </a>
  </div><!--
  --><div class="nav_item" id="snacksFR_item">
    <a ui-sref=".snacks" ui-sref-active="active"> Rafraîchissements </a>
  </div>
</div>

<ui-view></ui-view>

<hr class="theLine">

<div class="footer">
  <span>
    Information actualisé: 9 juillet 2017 <br>
    Droits d'auteur © 2017 |
    Site web par <a href="https://rickydam.com/" target="_blank"> Ricky Dam </a>
  </span>
</div>
