<h1> Normal Hours </h1>

<hr class="titleline">

<div class="hoursContainer">
  <p> Monday: <span class="blue"> 8:00am - 9:00pm </span></p>
  <p> Tuesday: <span class="blue"> 8:00am - 9:00pm </span></p>
  <p> Wednesday: <span class="blue"> 8:00am - 9:00pm </span></p>
  <p> Thursday: <span class="blue"> 8:00am - 9:00pm </span></p>
  <p> Friday: <span class="blue"> 8:00am - 9:00pm </span></p>
  <p> Saturday: <span class="blue"> 8:00am - 9:00pm </span></p>
  <p> Sunday: <span class="blue"> 8:00am - 9:00pm </span></p>
</div>
