<h1> Snacks </h1>

<hr class="titleline">

<h3> Snacks Vending Machine </h3>
<span>
  <span class="money"> $1.00 each </span><br>
  Chips <br>
  Chocolate bars <br>
  Gum
</span>

<hr class="snackshr">

<h3> Pop Vending Machine </h3>
<span>
  <span class="money">$1.00 each</span><br>
  Coca-Cola <br>
  Diet Coke  <br>
  Pepsi <br>
  Orange Crush <br>
  Canada Dry: Ginger Ale <br>
  Five Alive
</span>

<hr class="snackshr">

<h3> Refreshments </h3>

<div class="snacksContainer">
  <span>
    Ice cold water bottle : <span class="money">$1.00</span><br>
    Coffee : <span class="money">$1.00</span><br>
    Freezie : <span class="money">$0.50</span>
  </span>
</div>
