<div class="homePage">

  <h1> Holiday Hours </h1>

  <hr class="titleline_special">

  <div class="theRow">
    <div class="element"><span> Monday May 20, 2024 </span></div><!--
    --><div class="element"><span class="closed"> CLOSED </span></div><!--
    --><div class="element"><span> Happy Victoria Day! </span></div>
  </div>

  <hr class="theLine">

  <p> Bill and coin change available at the counter. </p>
  <p> Private parking lot and 3 hour free street parking. </p>
  <p> (613) 236-1356 </p>
  <p> 553 Gladstone Avenue, Ottawa, Ontario </p>

  <img src="../../assets/images/front1.jpg" alt="Front of business, picture 1">
  <img src="../../assets/images/front2.jpg" alt="Front of business, picture 2">
  <img src="../../assets/images/inside1.jpg" alt="Inside of business, picture 1">
  <img src="../../assets/images/inside2.jpg" alt="Inside of business, picture 2">
  <img src="../../assets/images/inside3.jpg" alt="Inside of business, picture 3">
  <img src="../../assets/images/inside4.jpg" alt="Inside of business, picture 4">
</div>
