<div class="homePage">

  <h1> Civic Day Hours </h1>

  <hr class="titleline_special">

  <div class="theRow">
    <div class="element"><span> Saturday August 4, 2018 </span></div><!--
    --><div class="element"><span> 8:00am - 7:00pm </span></div><!--
    --><div class="element"><span> Last Wash: 5:30pm </span></div>
  </div>

  <div class="theRow">
    <div class="element"><span> Sunday August 5, 2018 </span></div><!--
    --><div class="element"><span> 8:00am - 7:00pm </span></div><!--
    --><div class="element"><span> Last Wash: 5:30pm </span></div>
  </div>

  <div class="theRow">
    <div class="element"><span> Monday August 6, 2018 </span></div><!--
    --><div class="element"><span> 10:00am - 7:00pm </span></div><!--
    --><div class="element"><span> Last Wash: 5:30pm </span></div>
  </div>

  <img src="assets/images/civic.jpg" alt="Civic day image">

  <hr class="theLine">

  <p> Bill and coin change available at the counter. </p>
  <p> Private parking lot and 3 hour free street parking. </p>
  <p> (613) 236-1356 </p>
  <p> 553 Gladstone Avenue, Ottawa, Ontario </p>

  <img src="assets/images/front1.jpg" alt="Front of business, picture 1">
  <img src="assets/images/front2.jpg" alt="Front of business, picture 2">
  <img src="assets/images/inside1.jpg" alt="Inside of business, picture 1">
  <img src="assets/images/inside2.jpg" alt="Inside of business, picture 2">
  <img src="assets/images/inside3.jpg" alt="Inside of business, picture 3">
  <img src="assets/images/inside4.jpg" alt="Inside of business, picture 4">
</div>
