<div class="homePage">

  <p class="announcement"><strong>
    NOTICE <br>
    Temporary Change in Service Hours
  </strong></p>

  <p class="announcementMsg">
    Monday April 30, 2018 - Sunday May 13, 2018 <br>
    Store closing at 8:00pm <br>
    Last Wash 6:30pm <br><br>
    We will resume normal business hours on May 14, 2018 <br>
    Thank you and sorry for any inconvenience.
  </p>

  <hr class="theLine">

  <p> Bill and coin change available at the counter. </p>
  <p> Private parking lot and 3 hour free street parking. </p>
  <p> (613) 236-1356 </p>
  <p> 553 Gladstone Avenue, Ottawa, Ontario </p>

  <img src="assets/images/front1.jpg" alt="Front of business, picture 1">
  <img src="assets/images/front2.jpg" alt="Front of business, picture 2">
  <img src="assets/images/inside1.jpg" alt="Inside of business, picture 1">
  <img src="assets/images/inside2.jpg" alt="Inside of business, picture 2">
  <img src="assets/images/inside3.jpg" alt="Inside of business, picture 3">
  <img src="assets/images/inside4.jpg" alt="Inside of business, picture 4">
</div>
