<h1> Prices </h1>

<hr class="titleline">

<h3> Dry Cleaning </h3>
<p class="hst">HST not included</p>
<div class="drycleaningContainer">
  <span>
    Dress Shirt : <span class="money">$2.95</span><br>
    Slacks : <span class="money">$8.50</span><br>
    Blouse : <span class="money">$8.50</span><br>
    2-Piece Suit : <span class="money">$18.95</span><br>
    Dress : <span class="money">Starting from $16.95</span><br>
    Duvet : Starting from <span class="money">$30.00</span>
  </span>
</div>

<hr class="priceshr">

<h3> Alterations </h3>
<p class="hst">HST not included</p>
<span>
  Hemming: <span class="money">Minimum $9.00</span>
</span>

<hr class="priceshr">

<h3> Coin Wash </h3>
<p class="hst"> No HST </p>
<div class="coinwashContainer">
  <span>
    <h3 class="coinwash_h3"> Washer </h3>
    (Single load) 22 available : <span class="money">$3.50</span><br>
    (Double load) 4 available : <span class="money">$5.00</span><br>
    (Triple load) [30 lbs] 4 available : <span class="money">$7.00</span><br>

    <h3 class="coinwash_h3"> Dryer </h3>
    (Small) 10 available : <span class="money">$2.25/30mins</span><br>
    (Small) 6 available : <span class="money">$3.00/42mins</span><br>
    (Big) [30 lbs] 6 available : <span class="money">$0.25/3mins</span>
  </span>
</div>

<hr class="priceshr">

<h1> Purchase-able Items </h1>
<p class="hst">HST not included</p>

<div class="itemsContainer">
  <div class="item">
    <p> Bounce : <span class="money">$0.25/sheet</span></p>
    <img src="assets/images/item_bounce.jpg" alt="Bounce box" id="bounce">
  </div>
  <div class="item">
    <p> Detergent (1 load) : <span class="money">$0.50/bag</span></p>
    <img src="assets/images/item_detergent.jpg" alt="Bounce box" id="detergent">
  </div>
  <div class="item">
    <p> Tide Pods (1 load) : <span class="money">$1.00/each</span></p>
    <img src="assets/images/item_pods.jpg" alt="Bounce box" id="pods">
  </div>
  <br>
  <div class="item">
    <p> Ultra Tide (1 load) : <span class="money">$1.25/each</span></p>
    <img src="assets/images/item_ultra.jpg" alt="Bounce box" id="ultra">
  </div>
  <div class="item">
    <p> Tide Original (32 loads) : <span class="money">$12.00/each</span></p>
    <img src="assets/images/item_original.jpg" alt="Bounce box" id="original">
  </div>
</div>
